<html>
<body>
  <form action='/login_login/' method="POST">
      <h1>Welcome to Home Page</h1>
      Username:{{Username }}<br/>
       Email:{{ Email }}<br/>
      Contact_No:{{ Contact_no }}<br/>

      <input type="submit" value="LOGOUT">



{#      Password:<input type="text"  placeholder="Enter Password"name="pwd"><br/>#}
{#      Email:<input type="email" placeholder="Enter Email"  name="email" ><br/>#}
{#      Contact No:<input type="number" placeholder="Enter Number" name="number">#}
{#               <input type="submit" value="Submit" />#}
  </form>

</body>
</html>
