<html>
 {% load staticfiles %}
 <script type="text/javascript" src="{% static 'js/auth.js' %} "></script>
<body>
<form>

      <h1>Welcome to Home Page</h1>
     Email:<input type="email" id="email" value="{{ Email }}"><br/>
     Username:<input type="text" id="user" value="{{ Username }}"><br/>
     Contact_NO:<input type="number" id="cno" value="{{ Contact_no }}"><br/>

      <input type="Logout" onclick="click3()"/>




{#      Password:<input type="text"  placeholder="Enter Password"name="pwd"><br/>#}
{#      Email:<input type="email" placeholder="Enter Email"  name="email" ><br/>#}
{#      Contact No:<input type="number" placeholder="Enter Number" name="number">#}
{#               <input type="submit" value="Submit" />#}
  </form>

</body>
</html>