<html>
  {% load staticfiles %}
 <script type="text/javascript" src="{% static 'js/otp.js' %} "></script>

   <body>

   </body><br>
{#  <a href='/login_reqq/'>login</a>#}
   <form action='/home/' method="POST">
               <p> Message:{{ Message }}</p>
            OTP: <input type="number" id="otp" name="otp"><br/>
{#            Email:<input type="email" id="email" value="{{ Email }}"><br/>#}
          <p> E-mail_ID: {{ Email }}</p><br/>
            Message:{{ Message }}
         <input type="submit" value="Submit">
{#                <input type="submit" onclick="click2()">#}
   </form>




</html>