<html>
<head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                  crossorigin="anonymous"></script>
</head>
    {% load staticfiles %}
     <script type="text/javascript" src="{% static 'js/edit.js' %} "></script>
    <body>
      Username:<input type="text"  placeholder="Enter Username" id="uname" name="uname"><br/>
      Email:<input type="email" placeholder="Enter Email"  id="email" name="email" ><br/>
      Contact no:<input type="number" placeholder="Enter Number" id="number" name="number"><br/>
               <input type="submit" onclick="click4()" />
</body>

</html>