<html>


<body>

  <form action='/form/otp/' method="POST">

      <p> Message:{{ Message }}</p>
      Username:<input type="text"  placeholder="Enter Username"  name="uname"><br/>
      Password:<input type="password"  placeholder="Enter Password"  name="pwd"><br/>
      Email:<input type="email" placeholder="Enter Email"  name="email" ><br/>
      Contact no:<input type="number" placeholder="Enter Number"  name="number"><br/>
               <input type="submit" value="Submit">
  </form>

</body>



{#      <script>#}
{#function click1()#}
{#{#}
{#   var name = document.getElementById('uname').value;#}
{##}
{#   var pwd = document.getElementById('pwd').value;#}
{#   var email=document.getElementById('email').value;#}
{#   alert(name);#}
{#   alert(pwd);#}
{#   alert(email);#}
{#}#}
{#</script>#}


</html>